body {
    font-family: "Gowun Dodum", sans-serif;
    margin: 0;
    background: #DAE8F1;    
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  header {
    text-align: center;
    font-size: 50px;
    font-style: normal;
    line-height: normal;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  main {
    height: 790px;
    border-top: 1px solid #000;
    background: #fefefe;
    padding: 20px;
    box-sizing: border-box;
  }

  .jubdan {
    padding-left: 20px;
    text-align: left;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

  .jub, .dan {
    display: flex;
    color: #2B363A;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 50px;
    font-size: 18px;
    border-radius: 18px;
  }

  .jub {
    color: #959595;
    border: 1px solid #959595;
  }
  
  .jub:hover, .dan:hover {
    color: #000;
    cursor: pointer;
    background: #d4e2ef;
    border: 1px solid #000;
  }

  .dan {
    background: #E7EEF4;
    border: 1px solid #000;
  }

  .circleGroup {
    padding-top: 20px;
    padding-left: 42px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .circleInfo {
    display: inline-flex;
    align-items: flex-start;
    gap: 3px;
    width: 1750px;
    height: 195px;
    justify-content: center;
  }

  .circle {
    position: relative;
    width: 110px;
    height: 110px;
    position: relative;
    cursor: pointer;
    display: flex;
  }

  .circle:hover {
    opacity: 1;
    pointer-events: auto;
  }

  .circle svg {
    width: 100%;
    height: 100%;
  }

  .circleAl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
  }

  .circleName {
    color: #2B363A;
    font-size: 18px;
  }

  .circleItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 0 0 auto;
  }
  
  .exp, .result {
    position: relative;
    width: 580px;
    height: 320px;
    border-radius: 25px;
    border: 1px solid #333;
    background: #FFF;
    overflow-y: auto;
    padding: 30px;
    box-sizing: border-box;
  }

  .exp::-webkit-scrollbar,
  .result::-webkit-scrollbar {
    width: 8px; /* 스크롤바 두께 */
  }

  .exp::-webkit-scrollbar-track,
  .result::-webkit-scrollbar-track {
    background: #F6F6F6; /* 스크롤바 뒤 배경 색 */
    border-radius: 10px;
  }

  .exp::-webkit-scrollbar-thumb,
  .result::-webkit-scrollbar-thumb {
    background: #9AB6C5; /* 스크롤 움직이는 막대 색 */
    border-radius: 10px;
  }

  .exp::-webkit-scrollbar-thumb:hover,
  .result::-webkit-scrollbar-thumb:hover {
    background: #7A9CAF; /* 마우스 올렸을 때 색 */
  }

  .reset {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 50px;
    font-size: 18px;
    border-radius: 18px;
    color: #000;
    cursor: pointer;
    background: #E7EEF4;
    border: 1px solid #000;
  }

  .reset:hover {
    background: #d4e2ef;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding-top: 23px;
  }

  .tooltip {
    position: absolute;
    bottom: -120px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 1px solid #2B363A;
    border-radius: 10px;
    padding: 10px 14px;
    width: 120px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in;
    transition: opacity 0.4s ease-out;
    z-index: 10;
  }
  
  .tooltip-arrow {
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #2B363A;
  }
  
  .tooltip-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .tooltip-input {
    padding: 4px 6px;
    border-radius: 5px;
    border: none;
    font-family: "Gowun Dodum", sans-serif;
    font-size: 14px;
  }
  
  .tooltip-btn {
    color: #000;
    background: #E7EEF4;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 4px 0;
    cursor: pointer;
  }
  
  .tooltip-btn:hover {
    background: #d4e2ef;
  }
  
  .tooltip.active {
    opacity: 1;
    pointer-events: auto;
  }